@font-face {
    font-family: 'open_regular';
    src: url('../fonts/OPENSANS-REGULAR.TTF');
}
@font-face{
	font-family: 'open_bold';
    src: url('../fonts/OPENSANS-BOLD.TTF');
}

@font-face {
    font-family: 'open_semi';
    src: url('../fonts/OPENSANS-SEMIBOLD.TTF');
}

@font-face {
    font-family: 'open_italic';
    src: url('../fonts/OPENSANS-ITALIC.TTF');
}

.bground{
  background-color: rgb(244,244,244);
}
.stat{
  background-color: rgb(244,244,244);
}
.status{
  margin-bottom: 0px;
}
.about{
  background-image: url('../images/lay.png');
}
.navbar-fixed-top{
  position: relative;
  margin: 0px; 
  border-bottom: 0px;
}

.navbar{
  background-color: rgb(244,244,244);
}

.unem{
  height: 30px;
  list-style: none; 
  background-color: rgb(35,155,135);
}
.tpmenu2>ul>li>a{
  font-family: 'open_regular';
  color: rgb(255,255,255);
}
.tpmenu2>ul{
  list-style: none;
}
.tpmenu2{
  padding: 0px;
  margin-left: 90px;
  margin-right: 90px;
}

.menu{
  
  padding: 0px 0px;
}

.flag{
  position: absolute;
  margin-top: 7px;
  margin-left: 45px;
}

.logo{
  height: 75px;
}

.mnhead > a>img{
  margin-top: -20px;
  width: 175px;
  height: 75px;
}

.crsel{
  padding: 0px;
}

.back{
  background-image: url('../images/lay.png');
}
.back2{
  background-image: url('../images/lay2.png'); 
}

.htl > h3{
  margin-top: 10px;
}
                          /*start of row*/
.promo{
  padding: 0px 0px;
}

.promo >img{
  margin-top: -30px;
}

.promo >span{
  display: inline-block;
  padding: 10px 12px;
  position: relative;
  border-radius: 0;
  background-color: rgb(212,176,0)
}

.caption > h3{
  text-transform: uppercase;
  text-align: center;
}

.caption > p{
  padding: 5px 25px;
  text-align: center;
}

.caption > p > a{
  background-color: rgb(212,176,0);
  padding: 6px 45px;
}

.caption > p > a:hover{
  background-color: rgb(244,244,244);
  border-color: rgb(255,255,255);
  color: rgb(212,176,0);
}
                            /*end of row*/
.captn > h3 {
  padding: 10px 10px;
  background-color: rgba(2,1,2,0.4);
  font-family: 'open_regular';
  text-transform: uppercase;
  font-size: 19px;
}
.captn2>h1{
  padding: 25px;
  background-color: rgba(2,1,2,0.4);
  font-family: 'open_regular';
  text-transform: uppercase;
  margin-top: -350px;
}
                            /*socmed button*/
.socmed > a > img{
  position: relative;
  left: 60px;
  bottom: 100px;
  width: 60px;
  height: 60px;
  opacity: 0.8;
}
.facebook{
  position: fixed;
  top: 300px;
  right: 100px;
}
.twitter{
  position: fixed;
  top: 375px;
  right: 100px;
}
.google{
  position: fixed;
  top: 450px;
  right: 100px;
}
.youtube{
  position: fixed;
  top: 525px;
  right: 100px;
}
                    /*end of socmed button*/
.grand > h4 {
  text-transform: uppercase;
  font-family: 'open_semi';
  margin-bottom: 15px; 
}
.grand p{
  margin-bottom: 5px;
}

.btn-gc{
  background-color: rgb(35,155,135);
  border: 0px;
  padding: 3px 10px;
  padding-right: 0px;
  color: rgb(255,255,255);
  font-family: 'open_regular';  
  height: 34px;
}

.btn-gc:focus{
  background-color: rgb(35,155,135);
}

.pull-left{
  padding-left: 0px;
  margin-left: -15px;
}

.topgc{
  background-color: rgb(35,155,135);
  font-family: 'open_regular';
  z-index: 1050;
  width: 100px !important;
}

.topgc > li > a{
  color: rgb(255,255,255);
}

.btn-def:active:hover{
  background-color: rgb(35,155,135);
  border-radius: 0;
}

.btn:hover{
  color: rgb(255,255,255);
}

.tpmenu{
  background-color: rgb(35,155,135);
}

.sub{
  list-style: none;
  padding-left: 0px;
}
.eng{
  margin-right: 45px;
  font-family: 'open_semi';
  text-transform: uppercase;
}

.navbar-nav>li>a{
  margin-top: 5px;
}

.navbar-default .navbar-nav>li>a{
  color: rgb(64,64,64);
}

.navbar-nav >li>a>img{
  height: 20px;
  width: 20px;
}

.srch>li>a>img{
  height: 20px;
  width: 20px;
}
.srch{
  background-color: rgb(35,155,135);
  text-align: center;
  border-radius: 0;
  margin-bottom: 0;
}
.srch>li>a{
  font-family: 'open_bold';
  text-transform: uppercase;
  color:rgb(244,244,244);
}

.media> a > img{
  position: relative;
  width: 45px;
  height: 45px;
}
.media{
  text-align: center;
  padding: 0px;
}

.cari{
  background-color: rgb(255,255,255);
  padding: 20px;
}

.btn-find{
  background-color: rgb(212,176,0);
  color: rgb(255,255,255);
  text-transform: uppercase;
  font-family: 'open_semi';
  margin-top: 25px;
  width: 115px;
  padding-right: 10px;
  padding-left: 10px; 
  border: none;
}
.btn-go{
  background-color: rgb(212,176,0);
  color: rgb(255,255,255);
  text-transform: uppercase;
  font-family: 'open_semi';
  margin-top: 25px;
  padding-right: 10px;
  padding-left: 10px; 
  border: none;
  font-size: 8px;
  position: absolute;
  left: 50%;
  right: 50%;
  transform: translate(-50%, -50%);
}
.btn-sign{
  background-color: rgb(35,155,135);
  color: rgb(255,255,255);
  text-transform: uppercase;
  font-family: 'open_semi';
  width: 150px;
}
.announce{
  text-align: center;
  padding: 25px 15px; 
}
.announce>a>img{
  position: relative;
  height: 80px;
  width: 100px;
}
.announce>h3{
  color: rgb(35,155,135);
  font-family: 'open_regular';
}
.announce>h5{
  color: rgb(76,76,76);
  font-family: 'open_italic'; 
}
.announce>a{
  color: rgb(35,155,135);
}

.thumb>h3{
  text-align: center;
  text-transform: uppercase;
  color: rgb(76,76,76);
  padding-top: 30px;
  padding-bottom: 30px;
  font-family: 'open_bold';
}

.finder{
  background-color: rgba(0,1,5,0.3);
  padding: 15px 15px;
  position: relative;
}
.finder2{
  background-color: rgba(0,1,5,0.3);
  padding: 15px 15px;
  margin-top: 50px;
  margin-bottom: 50px;
  position: relative;
}

}
.home{
  position: relative;
}
.home>li{
  position: relative;
}
.home>li>a{
  font-family: 'open_regular';
  margin-top: 0px;
  padding-top: 25px;
  text-transform: uppercase;
  color: rgb(64,64,64);
  height: 75px;
}
.home>li:hover{
  color: rgb(255,255,255);
  background-color: rgb(212,176,0);
}
.home>li:visited{
  background-color: rgb(51,23,141);
}

.footer{
  background-color: rgb(35,155,135);
  text-align: center;
}
.footer>h6{
  font-family: 'open_regular';
  color: rgb(255,255,255);
}

.info{
  background-color: rgb(244,244,244);
}

.btn-up{
  border-radius: 50%;
  background-color: rgb(35,155,135);
  width: 100px;
  height: 100px;
}
.btn-up>img{
  height: 40px;
  width: 40px;
  margin-top: -10px; 
}
.btn-up>i{
  font-family: 'open_semi';
  text-transform: uppercase;
  color: rgb(255,255,255);
  font-size: 11px;
}

.bot{
  margin-bottom: 50px;
}

#ddmenu{
  padding: 10px;
  background-color: rgb(35,155,135);
  width: 200px;
}
.trvlr{
  width: 25px;
  border:none;
}
.inmenu{
  font-size: 14px;
  font-family: 'open_regular';
  color: rgb(255,255,255);
  margin-left: 8px;
}
.btn-min,.btn-plus{
  border:0px;
  height: 22px;
  background-color: rgb(255,255,255);
  position: relative;
  bottom: 0.5px; 
}

.col-sm-6{
  margin-bottom: 30px;
}

.form-inline .date{
  display: table;
}

.form-group{
  padding-right: 10px;
  padding-left: 10px;
}

.col-md-9{
  padding-top: 3px;
}
.eng{
  margin-right: 0px;
  padding-top: 3px;
}
.tgl{
  background-color: #FFFFFF;
  color: #249B87;
}
.lgt{
  border-right: 0px;
}
#room-input,#adult-input,#child-input{
  text-align: center;
}
#caret{
  color: #239B87
}
.id{
  text-align: center;
  font-family: 'open_bold';
  color: rgb(35,155,135);
  text-transform: uppercase;
  font-size: 27px;
}
#more{
  font-size: 15px;
  font-family: 'open_regular';
  color: rgb(76,76,76);
  text-align: center;
}
.view{
  margin-top: 75px;
  text-align: center;
}
.img1 img{
  width: 380px;
  height: 240px;
}
                  /*macarousel*/
#macarousel {
  margin-left: 50px;
  margin-right: 50px;
}

.meti img {
  margin-left: auto;
  margin-right: auto;
}

.capt {
    position: relative;
    left: auto;
    right: auto;
}

.ctrl.carousel-control.left,
.ctrl.carousel-control.right {
  background: none;
  border: none;
}

.ctrl.carousel-control.left {
  margin-left: -25px;
}

.ctrl.carousel-control.right {
  margin-right: -25px;
}

.glyph {
  color: grey;
  font-size: 40px;
}
                  /*macarou*/

#featr{
  font-family: 'open_italic';
  text-transform: capitalize;
  text-align: center;
  color: rgb(35,155,135);
  margin: 35px;
}
.facilities{
  text-align: center;
  color: rgb(76,76,76);
}
.facilities>h3{
  text-transform: uppercase;
  font-family: 'open_bold';

}
.loc{
  background-color: rgb(35,155,135);
  text-align: center;
}
.loc>h3{
  font-family: 'open_bold';
  color: rgb(255,255,255);
  text-transform: uppercase;
  margin-bottom: 20px;
}
#map {
  width: 100%;
  height: 400px;
  background-color: grey;
}
.txt{
  background-color: rgb(35,155,135);
}
#bus{
  height: 60px;
  margin-bottom: 20px;
  margin-top: 40px;
}
#car{
  height: 60px;
  margin-bottom: 20px;
  margin-top: 40px;
}
#wifi{
  height: 50px;
  margin-bottom: 30px;
  margin-top: 40px;
}
#spa{
  height: 60px;
  margin-bottom: 20px;
  margin-top: 40px;
}
#hall{
  width: 90px;
  margin-bottom: 10px;
  margin-top: 20px;
}
#bag{
  height: 50px;
  margin-bottom: 30px;
  margin-top: 40px;
}
#wash{
  height: 60px;
  margin-bottom: 20px;
  margin-top: 40px;
}
#dll{
  width: 50px;
  margin-bottom: 30px;
  margin-top: 75px;
}
.amnet{
  margin-bottom: 30px;
}
.ft{
  display: -webkit-box;
  margin-bottom: 10px;
}
.stlt{
  margin-right: 5px;
  height: 13px;
  width: 13px;  
}
.key{
  margin-right: 5px;
  height: 13px;
  width: 13px;  
}
.city{
  margin-right: 5px;
  height: 13px;
  width: 13px;  
}
.slip{
  margin-right: 5px;
  height: 13px;
  width: 13px;  
}
.dtl{
  margin-top: 40px;
}

@media (max-width: 768px) {
  .unem {
    display: none;
  }
  .tpmenu{
    display: contents;
  }
  .captn2 {
    display: none;
  }
  .captn{
    display: contents;
  }
  .socmed{
    display: none;
  }
  .btn-up{
  position: relative;
  bottom: 50px;
  right: 0px;
  }
  .btn-find{
    margin-left: calc(50% - 57.5px) ;
  }
  #more{
    font-size: 12px;
  }
  .img1 img{
  width: 320px;
  height: 190px;
}
}
@media (min-width: 768px) {
  .unem {
    display: contents;
  }
  .tpmenu{
    display: none;
  }
  .captn2 {
    display: contents;
  }
  .captn{
    display: none;
  }

  .socmed {
    display: contents;
  }

  .indi {
    display: contents;
    margin-bottom: 115px;
  }

  .finder{
    margin-top: -100px;
    position: relative;
  }
  #a{
    position: relative;
    top: 7px;
    left: 15px;
  }
  #h3{
    position:relative;
    font-size: 25px;
    right: 85px;
  }
  #h5{
    position: relative;
    right: 342px;
    font-size: 19px;
    margin-bottom: 25px;
  }
  .btn-up{
  position: relative;
  bottom: 50px;
  right: 50px;
  }
  .btn-go{
    font-size: 14px;
  }
  .bt1{
    position: relative;
    top: 210px;
  } 
  .bt2{
    position: relative;
    top: 210px;
    left: 350px;
  }
}